openapi: 3.0.0
info:
  title: HR API
  description: Get departments, position titles, and ID's tied to a department and business center.
  version: v2
  license:
    name: GNU Affero General Public License Version 3
    url: http://www.gnu.org/licenses/agpl-3.0.en.html
  contact:
    name: IS Data Architecture Team
    url: https://is.oregonstate.edu/data-architecture
    email: isdataarchitecture@oregonstate.edu
externalDocs:
  description: GitHub Repository
  url: https://github.com/osu-mist/hr-api
servers:
  - url: https://api.oregonstate.edu/v2
security:
  - OAuth2:
      - full
paths:
  /hr/positions:
    get:
      summary: List positions
      tags:
        - positions
      description: List position (job) titles and numbers in a single business center and department.
      operationId: getPositions
      parameters:
        - $ref: '#/components/parameters/businessCenter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PetSetResult'
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
  /hr/departments:
    get:
      summary: List departments
      tags:
        - departments
      description: Return org code and org description (departments) for a single business center
      operationId: getDepartments
      parameters:
        - $ref: '#/components/parameters/businessCenter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PetResult'
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
  /hr/locations:
    get:
      summary: List locations
      tags:
        - locations
      description: Return a list of HR locations that can be related to a job record, including minimum wages if applicable.
      operationId: getLocations
      parameters:
        - in: query
          name: filter[name]
          description: Search by location name
          required: false
          schema:
            type: string
            example: Corvallis
        - $ref: '#/components/parameters/minWageDate'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PetResult'
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
  /hr/locations/{locationId}:
    get:
      summary: Get location by ID
      tags:
        - locations
      description: Return a single HR location that can be related to a job record, including minimum wages if applicable.
      operationId: getLocationById
      parameters:
        - $ref: '#/components/parameters/minWageDate'
        - name: locationId
          in: path
          description: Unique location ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PetResult'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.oregonstate.edu/oauth2/token
          scopes:
            full: Full access to the API
  parameters:
    businessCenter:
      in: query
      name: filter[businessCenter]
      description: Search by 4-character business center name
      required: true
      schema:
        type: string
        example: ABCD
        pattern: ^.{4}$
    minWageDate:
      in: query
      name: filter[minWageDate]
      description: Date to search by for minimum wage data. Minimum wage depends on the date.
      required: false
      schema:
        type: string
        format: date
        example: '2018-12-31'
  responses:
    '400':
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResult'
    '404':
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResult'
    '409':
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResult'
    '500':
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResult'
  schemas:
    Meta:
      properties:
        totalResults:
          type: integer
          description: Total number of results
          example: 10
        totalPages:
          type: integer
          description: Total number of pages
          example: 10
        currentPageNumber:
          type: integer
          description: Page number of the returned results
          example: 1
        currentPageSize:
          type: integer
          description: Number of results per page
          example: 25
    SelfLink:
      properties:
        self:
          type: string
          format: uri
          description: Self-link of current resource
    PaginationLinks:
      properties:
        first:
          type: string
          format: uri
          description: The first page of data
        last:
          type: string
          format: uri
          description: The last page of data
        prev:
          type: string
          format: uri
          nullable: true
          description: The previous page of data
        next:
          type: string
          format: uri
          nullable: true
          description: The next page of data
    PetResource:
      properties:
        id:
          type: string
          description: A unique ID of pet
        type:
          type: string
          enum:
            - pet
        links:
          $ref: '#/components/schemas/SelfLink'
        attributes:
          properties:
            name:
              type: string
              description: Name of pet
              example: Hedwig
            owner:
              type: string
              description: Name of owner
              example: Harry Potter
            species:
              type: string
              description: Species of pet
              example: Owl
            age:
              type: number
              format: integer
              description: Age of pet
              example: 5
            size:
              type: object
              properties:
                length:
                  type: number
                  format: float
                  description: Length in inches
                  example: 18
                chest:
                  type: number
                  format: float
                  description: Chest size in inches
                  example: 16
                weight:
                  type: number
                  format: float
                  description: Weight in pounds
                  example: 8
    PetPostBody:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              $ref: '#/components/schemas/PetResource/properties/type'
            attributes:
              type: object
              properties:
                name:
                  $ref: '#/components/schemas/PetResource/properties/attributes/properties/name'
                owner:
                  $ref: '#/components/schemas/PetResource/properties/attributes/properties/owner'
                species:
                  $ref: '#/components/schemas/PetResource/properties/attributes/properties/species'
                age:
                  $ref: '#/components/schemas/PetResource/properties/attributes/properties/age'
                size:
                  $ref: '#/components/schemas/PetResource/properties/attributes/properties/size'
              required:
                - name
                - owner
                - species
              additionalProperties: false
          required:
            - type
            - attributes
          additionalProperties: false
      required:
       - data
      additionalProperties: false
    PetResult:
      properties:
        links:
          $ref: '#/components/schemas/SelfLink'
        data:
          $ref: '#/components/schemas/PetResource'
    PetSetResult:
      properties:
        links:
          allOf:
            - $ref: '#/components/schemas/SelfLink'
            - $ref: '#/components/schemas/PaginationLinks'
        meta:
          $ref: '#/components/schemas/Meta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/PetResource'
    ErrorObject:
      properties:
        status:
          type: string
          description: HTTP status code
          example: '123'
        title:
          type: string
          description: A short, user readable summary of the error
          example: Not Found
        code:
          type: string
          description: An application-specific error code
          example: '1234'
        detail:
          type: string
          description: A long description of the error that may contain instance-specific
            details
        links:
          properties:
            about:
              type: string
              format: uri
              description: A link to further information about the error
              example: https://developer.oregonstate.edu/documentation/error-reference#1234
    ErrorResult:
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorObject'
