openapi: 3.0.0
info:
  title: HR API
  description: Get departments, position titles, and ID's tied to a department and business center.
  version: v2
  license:
    name: GNU Affero General Public License Version 3
    url: http://www.gnu.org/licenses/agpl-3.0.en.html
  contact:
    name: IS Data Architecture Team
    url: https://is.oregonstate.edu/data-architecture
    email: isdataarchitecture@oregonstate.edu
externalDocs:
  description: GitHub Repository
  url: https://github.com/osu-mist/hr-api
servers:
  - url: https://api.oregonstate.edu/v2
security:
  - OAuth2:
      - full
paths:
  /hr/positions:
    get:
      summary: List positions
      tags:
        - positions
      description: List position (job) titles and numbers in a single business center and department.
      operationId: getPositions
      parameters:
        - $ref: '#/components/parameters/businessCenter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PositionSetResult'
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
  /hr/departments:
    get:
      summary: List departments
      tags:
        - departments
      description: Return org code and org description (departments) for a single business center
      operationId: getDepartments
      parameters:
        - $ref: '#/components/parameters/businessCenter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentSetResult'
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
  /hr/locations:
    get:
      summary: List locations
      tags:
        - locations
      description: Return a list of HR locations that can be related to a job record, including minimum wages if applicable.
      operationId: getLocations
      parameters:
        - $ref: '#/components/parameters/minWageDate'
        - in: query
          name: filter[name]
          description: Search by location name
          required: false
          schema:
            type: string
            example: Corvallis
        - name: filter[stateCode]
          in: query
          required: false
          description: Filter results by state code.
          schema:
            type: string
            enum:
              &stateCodeEnums [DE, NJ, PA, DC, NY, CA, VA, NC, TX, FL, HI, WV, MT, GA, MD, OH, IN,
              AK, AL, AR, AZ, CO, CT, IA, ID, IL, KS, KY, LA, MA, ME, MI, MN, MO, MS, ND, NE, NH,
              NM, NV, OK, OR, RI, SC, SD, TN, UT, VT, WA, WI, WY, VI, TT, PR, GU, CZ, AS, BC, NT,
              AB, ON, SK, NB, NF, NS, PE, PQ, MP, FM, MH, PW, MB, YT, AP, AE, AA, FC, FR, NU, BY,
              ENG]
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationSetResult'
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
  /hr/locations/{locationId}:
    get:
      summary: Get location by ID
      tags:
        - locations
      description: Return a single HR location that can be related to a job record, including minimum wages if applicable.
      operationId: getLocationById
      parameters:
        - $ref: '#/components/parameters/minWageDate'
        - name: locationId
          in: path
          description: Unique location ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationResult'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.oregonstate.edu/oauth2/token
          scopes:
            full: Full access to the API
  parameters:
    businessCenter:
      in: query
      name: filter[businessCenter]
      description: Search by 4-character business center name
      required: true
      schema:
        type: string
        example: ABCD
        pattern: ^.{4}$
    minWageDate:
      in: query
      name: filter[minWageDate]
      description: Date to search by for minimum wage data. Minimum wage depends on the date.
      required: false
      schema:
        type: string
        format: date
        example: '2018-12-31'
  responses:
    '400':
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResult'
    '404':
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResult'
    '500':
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResult'
  schemas:
    SelfLink:
      properties:
        self:
          type: string
          format: uri
          description: Self-link of current resource
    PositionResource:
      properties:
        id:
          type: string
          description: A unique ID of position
          example: C12345
        type:
          type: string
          enum: [position]
        links:
          $ref: '#/components/schemas/SelfLink'
        attributes:
          properties:
            title:
              type: string
              description: Position title
              example: Grad Appt Summer Break
            class:
              type: string
              description: Position class
              example: Student Project Assistant
            businessCenter:
              type: string
              description: Name of the business center
              example: FOBC
            organization:
              type: object
              properties:
                code:
                  type: string
                  nullable: false
                  description: Organization code for the department
                  example: '230600'
                title:
                  type: string
                  nullable: false
                  description: Organization title for the department
                  example: FOR - Forestry Administration
            salaryPoints:
              type: object
              properties:
                low:
                  type: number
                  format: float
                  description: Low point for position salary
                  example: 10.5
                  nullable: false
                high:
                  type: number
                  format: float
                  description: High point for position salary
                  example: 15.25
                  nullable: false
            nationalOccupation:
              type: object
              properties:
                code:
                  type: string
                  description: National occupation code
                  example: '1234'
                  nullable: false
                description:
                  type: string
                  description: Description of national occupation code
                  example: Colleges/Schools Professionals
                  nullable: false
    PositionSetResult:
      properties:
        links:
          $ref: '#/components/schemas/SelfLink'
        data:
          type: array
          items:
            $ref: '#/components/schemas/PositionResource'
    DepartmentResource:
      properties:
        id:
          type: string
          description: A unique ID of position
          example: '230600'
        type:
          type: string
          enum: [department]
        links:
          $ref: '#/components/schemas/SelfLink'
        attributes:
          properties:
            organization:
              type: object
              properties:
                code:
                  type: string
                  nullable: false
                  description: Organization code for the department
                  example: '230600'
                title:
                  type: string
                  nullable: false
                  description: Organization title for the department
                  example: FOR - Forestry Administration
            businessCenter:
              type: string
              description: Name of the business center
              example: FOBC
              nullable: false
    DepartmentSetResult:
      properties:
        links:
          $ref: '#/components/schemas/SelfLink'
        data:
          type: array
          items:
            $ref: '#/components/schemas/DepartmentResource'
    LocationResource:
      properties:
        id:
          type: string
          description: A unique ID of location
          example: '47'
        type:
          type: string
          enum: [location]
        links:
          $ref: '#/components/schemas/SelfLink'
        attributes:
          properties:
            name:
              type: string
              description: Name of location
              nullable: false
              example: Corvallis
            city:
              type: string
              description: City of location
              nullable: false
              example: Corvallis
            county:
              type: string
              description: Country of location
              nullable: false
              example: Benton County
            state:
              type: string
              description: State of location
              nullable: false
              example: Oregon
            stateCode:
              type: string
              nullable: false
              enum: *stateCodeEnums
              description: State code/abbreviation. This could also represent a province.
              example: OR
            minimumWage:
              type: object
              properties:
                classification:
                  type: string
                  description: Classification of location related to minimum wage. This classification affects the value of minimum wage for a given date.
                  enum: [Standard, Nonurban, Urban]
                amount:
                  type: number
                  format: float
                  description: >-
                    Minimum wage for location. Currently, minimum wage is only available for Oregon locations.
                    This value can be affected by the date query parameter.
                  example: 10.25
                date:
                  type: string
                  format: date
                  description: Date used to determine minimum wage.
                  example: '2018-12-31'
    LocationSetResult:
      properties:
        links:
          $ref: '#/components/schemas/SelfLink'
        data:
          type: array
          items:
            $ref: '#/components/schemas/LocationResource'
    LocationResult:
      type: object
      properties:
        links:
          $ref: '#/components/schemas/SelfLink'
        data:
          $ref: '#/components/schemas/LocationResource'
    ErrorObject:
      properties:
        status:
          type: string
          description: HTTP status code
          example: '123'
        title:
          type: string
          description: A short, user readable summary of the error
          example: Not Found
        code:
          type: string
          description: An application-specific error code
          example: '1234'
        detail:
          type: string
          description: A long description of the error that may contain instance-specific
            details
        links:
          properties:
            about:
              type: string
              format: uri
              description: A link to further information about the error
              example: https://developer.oregonstate.edu/documentation/error-reference#1234
    ErrorResult:
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorObject'
